[class^="icon-"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.icon{
  &-phone{
    width: 14px;
    height: 14px;
    background-image: url(../img/icons/phone.svg);
  }
  &-mark{
    width: 11px;
    height: 14px;
    background-image: url(../img/icons/mark.svg);
  }
}