.nav{
  &__list{
    list-style-type: none;
    display: flex;
  }
  &__item{
    margin-right: 49px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    color: $black;
    font-size: 14px;
    &:hover{
      color: lighten($color: $brown, $amount: 20);
    }
  }
}