.product-list{
  display: flex;
  list-style-type: none;
  margin-left: -16px;
  margin-right: -16px;
  flex-wrap: wrap;
  &__item{
    @include colm(3,32);
    margin: 0 16px 32px;
    border: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    &_state{
      &_sold{
        opacity: 0.5;
      }
    }
  }
  &__img{
    max-width: 100%;
    width: 100%;
    height: auto;
    // display: inline-block;
  }
  &__info{
    padding: 20px 24px 24px;
    border-top: 1px solid #E7E7E7;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  } 
  &__name{
    margin-bottom: 21px;
    color: $black;
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    min-height: 48px;
  }
  &__price-wrap{
    padding-top: 2px;
  }
  &__promo{
    color: #A0A0A0;
    text-decoration: line-through;
    margin-bottom: 2px;
  }
  &__price{
    font-weight: bold;
    font-size: 16px;
    color: $black;
  }
  &__sold{
    font-size: 16px;
    color: $black;
    letter-spacing: 0.2px;
  }
  &__buy{
    max-width: 118px;
    margin-left: 10px;
  }
}

@media(max-width: 1260px){
  .product-list{
    &__info{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}